fastapi==0.61.1
python-multipart==0.0.5
uvicorn==0.12.2
jinja2==2.11.2
aiofiles==0.5.0
fastapi==0.61.1
motor==2.2.0
pillow==8.0.1
pydantic==1.6.1
starlette==0.13.6
pydantic[email]
python-decouple==3.3
